{%extends 'base.html'%}
{% block title%}Add Message{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Add new Message</b></h2>
    <img src="{{url_for('static', filename='images/chat.png')}}" alt="" style="height: 3em; width: 3em;">
    <small>
        Add a new message to your 'Messages' section. Fill in the form.
    </small>
</div>

<br><br><br>
<div class="container -flex align-items-center flex-column">
    <form action="" class="d-flex align-items-center flex-column">
        <div class="form-group col-9 mb-5">
            <label for="message_instance" class="mb-1">Write your message!</label>
            <textarea class="form-control" id="message_instance" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-warning my-3">Send Message</button>
    </form>
</div>
<br><br><br>

{%endblock%}