{%extends 'base.html'%}
{% block title%}Add Travel{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Add new Travel</b></h2>
    <img src="{{url_for('static', filename='images/travel.png')}}" alt="" style="height: 3em; width: 3em;">
    <small>
        Add a new travel experience to your 'Travels' section. Fill in the form.
    </small>
</div>

<br><br><br>
<div class="container">
    <form action="" class="d-flex align-items-center flex-column">
        <div class="form-group mb-3 col-9">
            <label for="title_instance" class="mb-1">Travel Title</label>
            <input type="text" class="form-control" id="title_instance" name="title_instance" placeholder="Title">
        </div>
        <div class="form-group mb-3 col-9">
            <label for="country_instance" class="mb-1">Country Name</label>
            <input type="text" class="form-control" id="country_instance" name="country_instance" placeholder="Title">
        </div>
        <div class="form-group mb-3 col-9">
            <label for="city_instance" class="mb-1">City Name</label>
            <input type="text" class="form-control" id="city_instance" name="city_instance" placeholder="Title">
        </div>
        <div class="form-group mb-3 col-9">
            <label for="days_instance" class="mb-1">Total Days</label>
            <input type="text" class="form-control" id="days_instance" name="days_instance" placeholder="Title">
        </div>
        <div class="form-group mb-3 col-9 d-flex flex-column">
            <label for="date_instance">Date</label>
            <small class="mb-1">(dd/mm/yy or month/year)</small>
            <input type="text" class="form-control" id="date_instance" name="date_instance" placeholder="Date">
        </div>
        <button type="submit" class="btn btn-warning my-3">Add Travel</button>
    </form>
</div>
<br><br><br>

{%endblock%}