{%extends 'base.html'%}
{%block title%}index{%endblock%}
{%block content%}

<br>
<div class="container">
    <h5 class="text-primary">Main Info</h5>
    <ul class="list-group">
        <li class="list-group-item">Couple</li>
    </ul>
</div>

<br>
<div class="container">
    <h5 class="text-primary">Statistics</h5>
    <ul class="list-group">
        <li class="list-group-item">Start Date</li>
        <li class="list-group-item">Level</li>
        <li class="list-group-item">Medals</li>
    </ul>
</div>
<br>
<div class="container">
    <h5 class="text-primary">Actions</h5>
    <ul class="list-group">
        <li class="list-group-item">Travels</li>
        <li class="list-group-item">Wanderungs</li>
        <li class="list-group-item">Restaurants</li>
        <li class="list-group-item">Movies</li>
        <li class="list-group-item">Plans</li>
        <li class="list-group-item">Messages</li>
    </ul>
</div>
{%endblock%}