{%extends 'base.html'%}
{%block title%}index{%endblock%}
{%block content%}

<br>
<div class="container">
    <h5 class="text-dark"><b>Main Info</b></h5>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between"><span><img src="{{url_for('static', filename='images/heart.png')}}" alt="..." class="img-action"> Couple</span> <i>{{partner}}</i></li>
    </ul>
</div>
<br>

<br>
<div class="container">
    <h5 class="text-dark"><b>Statistics</b></h5>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between"><span><img src="{{url_for('static', filename='images/start.png')}}" alt="..." class="img-action"> Since</span> <i>{{couple_data.start_date}}</i></li>
        <li class="list-group-item d-flex justify-content-between align-items-center"><span><img src="{{url_for('static', filename='images/level-up.png')}}" alt="..." class="img-action"> Level</span>
           <div class="lvlbar rounded bg-dark d-flex flex-row">
            <div class="lvlbar bg-warning rounded" style="width: 15%">
            </div>
           </div><b>{{couple_data.level}}</b></li>
        <li class="list-group-item d-flex justify-content-between"><span><img src="{{url_for('static', filename='images/medal.png')}}" alt="..." class="img-action"> Medals</span><b>0</b></li>
    </ul>
</div>
<br>

<br>
<div class="container">
    <h5 class="text-dark"><b>Actions</b></h5>
    <ul class="list-group">
        <a href="{{ url_for('travels') }}"><li class="list-group-item d-flex justify-content-between mb-1">Travels <img src="{{url_for('static', filename='images/travel.png')}}" alt="..." class="img-action"></li></a>
        <a href="{{ url_for('wanderungs') }}"><li class="list-group-item d-flex justify-content-between mb-1">Wanderungs <img src="{{url_for('static', filename='images/bicycle.png')}}" alt="..." class="img-action"></li></a>
        <a href="{{ url_for('restaurants') }}"><li class="list-group-item d-flex justify-content-between mb-1">Restaurants <img src="{{url_for('static', filename='images/restaurant.png')}}" alt="..." class="img-action"></li></a>
        <a href="{{ url_for('movies') }}"><li class="list-group-item d-flex justify-content-between mb-1">Movies <img src="{{url_for('static', filename='images/cinema.png')}}" alt="..." class="img-action"></li></a>
        <a href="{{ url_for('plans') }}"><li class="list-group-item d-flex justify-content-between mb-1">Plans <img src="{{url_for('static', filename='images/calendar.png')}}" alt="..." class="img-action"></li></a>
        <a href="{{ url_for('messages') }}"><li class="list-group-item d-flex justify-content-between mb-1">Messages <img src="{{url_for('static', filename='images/chat.png')}}" alt="..." class="img-action"></li></a>
    </ul>
</div>
<br>

{%endblock%}