{%extends 'base.html'%}
{%block title%}Messages{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Messages</b></h2>
    <img src="{{url_for('static', filename='images/chat.png')}}" alt="" style="height: 3em; width: 3em;">
    <small>
        Send a message, see and edit records!
    </small>
    <a href="{{url_for('addmessage')}}"><button class="btn btn-warning mt-3">send message</button></a>
</div>

<br><br><br>
<div class="container d-flex">
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item mb-3 d-flex justify-content-between px-3"><div class="d-flex flex-row align-items-center" style="margin-right: 1.2em;"><img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em; margin-right: 1em;"><i><b>PersonA</b></i></div><div>message 1</div></li>
            <li class="list-group-item mb-3 d-flex justify-content-between px-3"><div class="d-flex flex-row align-items-center" style="margin-right: 1.2em;"><img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em; margin-right: 1em;"><i><b>PersonA</b></i></div><div>message 1</div></li>
            <li class="list-group-item mb-3 d-flex justify-content-between px-3"><div class="d-flex flex-row align-items-center" style="margin-right: 1.2em;"><img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em; margin-right: 1em;"><i><b>PersonA</b></i></div><div>message 1</div></li>
            <li class="list-group-item mb-3 d-flex justify-content-between px-3"><div class="d-flex flex-row align-items-center" style="margin-right: 1.2em;"><img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em; margin-right: 1em;"><i><b>PersonA</b></i></div><div>message 1</div></li>
            <li class="list-group-item mb-3 d-flex justify-content-between px-3"><div class="d-flex flex-row align-items-center" style="margin-right: 1.2em;"><img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em; margin-right: 1em;"><i><b>PersonA</b></i></div><div>message 1</div></li>
        </ul>
    </div>
</div>
<br><br><br>

{%endblock%}