{%extends 'base.html'%}
{%block title%}Messages{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Messages</b></h2>
    <button class="btn btn-outline-success mt-3">add new message</button>
</div>

<br><br><br>
<div class="container d-flex">
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item mb-2 d-flex justify-content-between px-3"><i><p class="text-primary">PersonA</p></i><p>message 1</p></li>
            <li class="list-group-item mb-2 d-flex justify-content-between px-3"><i><p class="text-primary">PersonA</p></i><p>message 2</p></li>
            <li class="list-group-item mb-2 d-flex justify-content-between px-3"><i><p class="text-primary">PersonA</p></i><p>This is an example of a very long message that someone may wants to write. message 3</p></li>
            <li class="list-group-item mb-2 d-flex justify-content-between px-3"><i><p class="text-primary">PersonA</p></i><p>message 4</p></li>
        </ul>
    </div>
</div>
<br><br><br>

{%endblock%}