{%extends 'base.html'%}
{%block title%}Movies{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Movies</b></h2>
    <img src="{{url_for('static', filename='images/cinema.png')}}" alt="" style="height: 3em; width: 3em;">
    <small>
        add, see and edit movies you saw
    </small>
    <a href="{{url_for('addmovie')}}"><button class="btn btn-warning mt-3">add movie</button></a>
</div>

<br><br><br>
<div class="container">
    <div class="container d-flex flex-row justify-content-between flex-wrap">
        <div class="card col-5 m-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span><img src="{{url_for('static', filename='images/movie.png')}}" alt="" style="height: 1em; width: 1em;"><b> Chucky 3</b></span>
                <img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em;">
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><img src="{{url_for('static', filename='images/theater.png')}}" alt="" style="height: 1em; width: 1em;"> Category: <i>Terror</i></li>
              <li class="list-group-item"><img src="{{url_for('static', filename='images/star.png')}}" alt="" style="height: 1em; width: 1em;"> score: <i>3/5</i></li>
            </ul>
        </div>
        <div class="card col-5 m-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span><img src="{{url_for('static', filename='images/movie.png')}}" alt="" style="height: 1em; width: 1em;"><b> Chucky 3</b></span>
                <img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em;">
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><img src="{{url_for('static', filename='images/theater.png')}}" alt="" style="height: 1em; width: 1em;"> Category: <i>Terror</i></li>
              <li class="list-group-item"><img src="{{url_for('static', filename='images/star.png')}}" alt="" style="height: 1em; width: 1em;"> score: <i>3/5</i></li>
            </ul>
        </div>
        <div class="card col-5 m-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span><img src="{{url_for('static', filename='images/movie.png')}}" alt="" style="height: 1em; width: 1em;"><b> Chucky 3</b></span>
                <img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em;">
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><img src="{{url_for('static', filename='images/theater.png')}}" alt="" style="height: 1em; width: 1em;"> Category: <i>Terror</i></li>
              <li class="list-group-item"><img src="{{url_for('static', filename='images/star.png')}}" alt="" style="height: 1em; width: 1em;"> score: <i>3/5</i></li>
            </ul>
        </div>
        <div class="card col-5 m-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span><img src="{{url_for('static', filename='images/movie.png')}}" alt="" style="height: 1em; width: 1em;"><b> This is a movie with a fucking</b></span>
                <img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em;">
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><img src="{{url_for('static', filename='images/theater.png')}}" alt="" style="height: 1em; width: 1em;"> Category: <i>Terror</i></li>
              <li class="list-group-item"><img src="{{url_for('static', filename='images/star.png')}}" alt="" style="height: 1em; width: 1em;"> score: <i>3/5</i></li>
            </ul>
        </div>
    </div>
</div>
<br><br><br>

{%endblock%}