{%extends 'base.html'%}
{%block title%}Plans{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Plans</b></h2>
    <img src="{{url_for('static', filename='images/calendar.png')}}" alt="" style="height: 3em; width: 3em;">
    <small>
        have any future plans in mind? add them here!
    </small>
    <a href="{{url_for('addplan')}}"><button class="btn btn-warning mt-3">Add Plan</button></a>
</div>

<br><br><br>
<div class="container">
    <div class="container d-flex flex-row justify-content-center flex-wrap">
        {%for p in plans%}
        <div class="card col-10 mb-3">
            <div class="card-body">
              <h5 class="card-title">{{p.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Temp. Date: <i>{{p.date}}</i></h6>
              <p class="card-text">{{p.comment}}</p>
              <a href="#" class="card-link text-success">Mark as completed</a>
              <a href="{{ url_for('delete_plan', entry_id=p._id) }}" class="card-link text-danger">Delete plan</a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
<br><br><br>

{%endblock%}