{%extends 'base.html'%}
{%block title%}Restaurants{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Restaurants</b></h2>
    <img src="{{url_for('static', filename='images/restaurant.png')}}" alt="" style="height: 3em; width: 3em;">
    <small>
        keep track of restaurants you visited
    </small>
    <a href="{{url_for('addrestaurant')}}"><button class="btn btn-warning mt-3">Add Restaurant</button></a>
</div>

<br><br><br>
<div class="container">
    <div class="container d-flex flex-row justify-content-center flex-wrap">
        {%for r in restaurants%}
        <div class="card mb-3 col-9">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span><b> {{r.title}}</b></span>
                <a href="{{ url_for('delete_restaurant', entry_id=r._id) }}"><img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em;"></a>
            </div>
            <div class="card-body">
              <p class="card-text d-flex justify-content-between"><span><img src="{{url_for('static', filename='images/menu.png')}}" alt="" style="height: 1em; width: 1em;"> <i>Food Type: </i></span> {{r.food_type}}</p>
              <p class="card-text d-flex justify-content-between"><span><img src="{{url_for('static', filename='images/map.png')}}" alt="" style="height: 1em; width: 1em;"> <i>Location: </i></span> {{r.location}}</p>
              <p class="card-text d-flex justify-content-between"><span><img src="{{url_for('static', filename='images/coin.png')}}" alt="" style="height: 1em; width: 1em;"> <i>Price: </i></span> {{r.price_score}}</p>
              <p class="card-text d-flex justify-content-between"><span><img src="{{url_for('static', filename='images/food.png')}}" alt="" style="height: 1em; width: 1em;"> <i>Food: </i></span> {{r.food_score}}</p>
              <p class="card-text d-flex justify-content-between"><span><img src="{{url_for('static', filename='images/good-vibes.png')}}" alt="" style="height: 1em; width: 1em;"> <i>Vibe: </i></span> {{r.vibe_score}}</p>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
<br><br><br>

{%endblock%}