{%extends 'base.html'%}
{%block title%}Restaurants{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Restaurants</b></h2>
    <img src="{{url_for('static', filename='images/restaurant.png')}}" alt="" style="height: 3em; width: 3em;">
    <small>
        keep track of restaurants you visited
    </small>
    <a href="{{url_for('onwork')}}"><button class="btn btn-warning mt-3">add restaurant</button></a>
</div>

<div class="container">
    <div class="container"></div>
</div>

{%endblock%}