{%extends 'base.html'%}
{%block title%}Travels{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Travels</b></h2>
    <img src="{{url_for('static', filename='images/travel.png')}}" alt="" style="height: 3em; width: 3em;">
    <small>
        add, see and edit travel experiences
    </small>
    <a href="{{url_for('addtravel')}}"><button class="btn btn-warning mt-3">Add Travel</button></a>
</div>

<br><br><br>
<div class="container">
    <div class="container d-flex flex-row justify-content-center flex-wrap">
        {%for t in travels%}
        <div class="card col-10 mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
              <span><img src="{{url_for('static', filename='images/island.png')}}" alt="" style="height: 1em; width: 1em;"><b> {{travels.title}}</b></span>
              <img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em;">
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex flex-row justify-content-between"><span><i>Country </i></span><span>{{travels.country}}</span></li>
              <li class="list-group-item d-flex flex-row justify-content-between"><span><i>City </i></span><span>{{travels.city}}</span></li>
              <li class="list-group-item d-flex flex-row justify-content-between"><span><i>Total Days </i></span><span>{{travels.days}}</span></li>
              <li class="list-group-item d-flex flex-row justify-content-between"><span><i>Date </i></span><span>{{travels.date}}</span></li>
            </ul>
        </div>
        {%endfor%}
    </div>
</div>
<br><br><br>

{%endblock%}