{%extends 'base.html'%}
{%block title%}Travels{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Travels</b></h2>
    <img src="{{url_for('static', filename='images/travel.png')}}" alt="" style="height: 3em; width: 3em;">
    <small>
        add, see and edit travel experiences
    </small>
    <a href="{{url_for('addtravel')}}"><button class="btn btn-warning mt-3">add travel</button></a>
</div>

<div class="container">
    <div class="container"></div>
</div>

{%endblock%}