{%extends 'base.html'%}
{%block title%}Wanderungs{%endblock%}
{%block content%}

<div class="container d-flex align-items-center flex-column">
    <h2><b>Wanderungs</b></h2>
    <img src="{{url_for('static', filename='images/bicycle.png')}}" alt="" style="height: 3em; width: 3em;">
    <small>
        keep track of concerts, museums, parks and great times outside!
    </small>
    <a href="{{ url_for('addwanderung') }}"><button class="btn btn-warning mt-3">Add Wanderung</button></a>
</div>

<br><br><br>
<div class="container">
    <div class="container d-flex flex-row justify-content-center flex-wrap">
        {%for w in wanders%}
        <div class="card col-10 mb-3">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between align-items-center">
                <span><img src="{{url_for('static', filename='images/binoculars.png')}}" alt="" style="height: 1em; width: 1em;"><b> {{w.title}}</b></span>
                <img src="{{url_for('static', filename='images/delete.png')}}" alt="" style="height: 1em; width: 1em;">
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">Location: <i>{{w.location}}</i></h6>
              <br>
              <p class="card-text"><i>Description:</i></p>
              <p class="card-text">{{w.description}}</p>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
<br><br><br>

{%endblock%}